body {
  background-color: #ECF9ED;
}

table.comicGreen {
  font-family: Verdana, Helvetica, sans-serif;
  border: 2px solid #4F7849;
  background-color: #EEEEEE;
  width: 660px;
  text-align: left;
  border-collapse: collapse;
}
table.comicGreen td, table.comicGreen th {
  border: 3px solid #4F7849;
  padding: 3px 2px;
}
table.comicGreen tbody td {
  font-size: 18px;
  font-weight: bold;
  color: #4F7849;
}
table.comicGreen tr:nth-child(even) {
  background: #CEE0CC;
}

.label {
  color: white;
  padding: 8px;
}
.success {font-family: Verdana, Helvetica, sans-serif; font-size: 16px; background-color: #87C68C; width: 200px;} /* Green */
.info {font-family: Verdana, Helvetica, sans-serif; font-size: 16px; background-color: #4F7849; width: 200px; color: black; font-weight: bold;}
.header {font-family: Verdana, Helvetica, sans-serif; color: black;}
