body {
  background-color: #ECF9ED;
}
title {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 65px;
}
title.test {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 65px;
}
h1.test {
  text-align: center;
}
table.comicGreen { /* general template for the table */
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  table-layout: fixed;
  border: 2px solid #4F7849;
  background-color: #CEE0CC;
  width: 750px;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreen td, table.comicGreen th { /* settings for the rows and columns */
  border: 3px solid #000000;
  padding: 13px 12px;
  width: 300px;
  overflow: hidden; /* if the text is too long, the text will be cut off from the table */
}
table.comicGreen tbody td { /* for data and texts inside the table */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
}
table.comicGreen tr:nth-child(even) { /* creating specific conditions for even rows */
  background: white;
}
.label {
  color: black;
  padding: 8px; /* space between the border and the text */ 
}
/* for different select buttons */
.success {font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; background-color: #DCDCDC; width: 200px;} /* Grey */ 
.info {font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; background-color: #4F7849; width: 200px; color: black; font-weight: bold;}
.header {font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; text-align: center; color: black;}
.grey {font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; background-color: #DCDCDC; width: 200px;
} /* Grey */
select option[value="blank"] {
  background: #DCDCDC;
}
select option[value="wd:Q14907008"] { /* for upregulated */
  background: #00E600; /* #00E600 is green color, hex color code */
}
select option[value="wd:Q14906419"] { /* for downregulated */
  background: red;
}
